<body class="main-body">
  <!-- Nav ontainer -->
  {{!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Future</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passport">Travel Passport</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./booking.html">Plan A Trip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./future.html">Travel Bucket List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./logout.html">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> --}}
    <div class="row">
      <!-- Favorite destination container -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body Destinations">
            <h5 class="card-title Favorites">Favorites</h5>
            <p class="card-text Favorites"> &#x2022; Machu Picchu: incan citadel located in the Andes mounts in Peru
            </p>
            <p class="Favorites">&#x2022; Bora Bora: Small South Pacific Island. Surrounded by sandfringed mous and a trugoise lagoon protected by a coral reef
                 </p>
            <p class="Favorites">&#x2022; YellowStone National Park: A must travel destination if you currently live or are visiting the United states.  Packed wil wildlife, and featuring dramatic canyons, alpine rivers, forests, hotsprinds, and geysers
              as well as the proper outerwear depending on where your destination is. </p>
            <p class="Favorites">&#x2022; Uyuni Salt Flat: Located in the Andes in sourthwest Bolivia, it is the worlds larget salt flat, a legacy of a prehisotores lake that went dry. </p>
            <p class="Favorites">&#x2022; Honorable mentions;
            <ul>
              <li class="Favorites">Baobab Avenue </li>
              <li class="Favorites">Paris, France</li>
              <li class="Favorites">StoneHenge </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
     
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body TBD1">
            <h5 class="card-title TBD2">To be determined</h5>
            <p class="card-text TBD2 "> &#x2022; 
            <p class="TBD2">&#x2022; 
            <ul>
              
            </ul>
            </p>
            <p class="TBD2"> &#x2022;</li>
            <p class="TBD2">&#x2022;.</p>
            <p class="TBD2"> &#x2022; </p>
            <p class="TBD2">&#x2022; </p>
            <p class="TBD2">&#x2022; </p>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <figure class="figure"><img src="./assets/images/gettyimages-1297349747-1024x1024.jpeg" width="500"
                class="figure-img img-fluid" alt="travel-photo">
            <br>
            <figcaption class="photo-credit">Photo by <a>guvendemir</a> on <a
                    href="https://www.gettyimages.com/search/photographer?photographer=guvendemir">GettyImages</a>
            </figcaption>
        </figure>
    </div>
    </div>
    </div>
  </main>

  <!--<script src="./assets/js/script.js"></script>-->