<nav class="navbar navbar-expand-lg fixed-top bg-info text-dark">
    <div class="container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <p alt="" width="30" height="24" class="d-inline-block align-text-top">✈️ The Suite Life: A place for
                    those with wanderlust. 🗺️</p>
            </a>
        </div>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        </a>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-5">
                <li class="nav-item"><a class="nav-link" data-value="Home" href="/signup"><button> Sign Up
                            Today!</button></a></li>
            </ul>
        </div>
    </div>
</nav>

<main class="container mt-5 pt-5">
    <div class="row">
        <div class="col-4">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <div class="row">
                <h2><a style="color: darkcyan">wan·der·lust</h2>
                <p>/ˈwändərˌləst/<br>
                    <em>noun</em><br>
                    a strong desire to travel.</a><br><br>
                    Do you have a strong desire to swim in the ocean?<br>
                    To climb mountains? To see historical places?<br>
                    To taste native cuisines? See local customs and more?<br><br>
                    If you said yes to any of those questions <a href=signup.html">sign up</a> today!
                </p>
            </div>
        </div>

        <div class="col-8">
            <section class="container-fluid">
                <div class="d-flex justify-content-end">
                    <figure class="figure"><img src="./assets/images/jeshoots-com-mSESwdMZr-A-unsplash.jpg"
                            class="figure-img img-fluid" alt="travel-photo">
                        <br>
                        <figcaption class="photo-credit">Photo by <a
                                href="https://unsplash.com/es/@jeshoots?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">JESHOOTS.COM</a>
                            on <a
                                href="https://unsplash.com/images/travel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                        </figcaption>
                    </figure>
                </div>
            </section>
        </div>
    </div>










</main>


<script src="/public/js/login.js"></script>