<nav class="navbar navbar-expand-lg fixed-top bg-info text-dark">
   <div class="container-fluid">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">
            <p alt="" width="30" height="24" class="d-inline-block align-text-top">Logged In<a class="navbar-brand"
                  href="#"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                     class="navbar-toggler-icon"></span></button>
         </a>
         <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-5">
               <li class="nav-item"><a class="nav-link" data-value="home" href="homepage.handlebars">Home</a></li>
               <li class="nav-item"><a class="nav-link" data-value="passport" href="profile.handlebars">Travel
                     Passport</a></li>
               <li class="nav-item"><a class="nav-link" data-value="booking" href="/travel">Plan a Trip</a>
               </li>
               <li class="nav-item"><a class="nav-link" data-value="future" href="future.handlebars">Travel Bucket
                     List</a></li>
               <li class="nav-item"><a class="nav-link" data-value="passport" href="login.handlebars">Log Out</a></li>
            </ul>
         </div>
      </div>
</nav>
{{!-- 
<form class="form signup-form">
   <div class="form-group">
      <label for="name-signup">name:</label>
      <input class="form-input" type="text" id="name-signup" />
   </div>
   <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
   </div>
   <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
   </div>
   <div class="form-group">
      <button class="btn btn-primary" type="submit">signup</button>
   </div>
</form> --}}

<main class="container mt-5 pt-5">
   <div class="row">
      <section class="container-fluid">
         <div class="d-flex justify-content-center">
            <figure class="figure"><img src="./assets/images/element5-digital-uE2T1tCFsn8-unsplash.jpg"
                  class="figure-img img-fluid" alt="travel-photo">
               <br>
               <figcaption class="photo-credit">Photo by <a
                     href="https://unsplash.com/@element5digital?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Element5
                     Digital</a> on <a
                     href="https://unsplash.com/images/travel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
               </figcaption>
            </figure>
         </div>
      </section>
   </div>

   <script src="./js/login.js"></script>